body{ 
    background-image: url("https://www.si.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTY4MTY5MTAyNDg4ODM5NDQx/best-crying-jordan-memesjpg.jpg");
}

h1{text-shadow: 0cap;
text-decoration-color: aqua;
color: cyan;
}

h4{border-left: 10;
color:color(from yellow srgb r g b)
}
